@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --LIME: #98ec5f;
    --BR-LIME: #e2ffce;
    --DK-LIME: #6cbe34;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.nowrap {
    white-space: nowrap;
}

body {
    font: 1.5rem 'Schibsted Grotesk', sans-serif;
    min-height: 100vh;

    background-color: var(--LIME);
    background-image: radial-gradient(var(--BR-LIME), var(--LIME));
    display: flex;
    flex-direction: column;
}

header, footer {
    position: sticky;
    background-color: var(--DK-LIME);
    color: aliceblue;
    text-align: center;
}

header {
    top: 0;
}

nav {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a, nav a:visited {
    color: black;
}

nav a:hover, nav a:focus {
    color: hsla(0, 0%, 20%, 0.6)
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer {
    bottom: 0;
}

.card {
    scroll-margin-top: 8rem;
}

/* small media q */

@media screen and (min-width: 576px) {
    body {
        background-color: green;
        background-image: radial-gradient(white, green);
    }

    nav {
        /* display: none */
    }
}

/* medium media q */
@media screen and (min-width: 768px) {
    body {
        background-color: yellow;
        background-image: radial-gradient(white, yellow);

    }
}

/* large media q */
@media screen and (min-width: 992px) {
    body {
        background-color: orangered;
        background-image: radial-gradient(white, orangered);

    }
}

/* xl media q */
@media screen and (min-width: 1200px) {
    body {
        background-color: rebeccapurple;
        background-image: radial-gradient(white, rebeccapurple);

    }
}

/* landscape mob. media q */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(white, dodgerblue);

    }

    h1, h2 {
        font-size: 1.5rem;
    }

    nav {
        /* display: none */
    }
}